{% extends 'cliente/base.html' %}
{% block content %}
    <div class="formulario">

        <h2>{{ titulo }}</h2>
        <br/>
        <a class="button" href="{% url 'cliente_pprestamo' %}">PEDIR PRESTAMO</a>
        <a class="button" href="{% url 'cliente_prestamo_auto' %}">AGREGAR PAGO DE CUOTA AUTOMATICO</a>
        <p></p>
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">BUSCAR DETALLE DE PRESTAMO</button>
        </form>

        <p></p>
        <p>{{ mensaje }}</p>
        <p></p>
        <br/>

        <table class="tabla">
            <tr>
                <th><strong>NO. PRESTAMO</strong></th>
                <th><strong>MONTO A PAGAR</strong></th>
                <th><strong>TIPO DE PRESTAMO</strong></th>
                <th><strong>APROBADO</strong></th>
            </tr>
            {% for p in prestamos %}
                    <tr>
                        <td>{{ p.id_prestamo }}</td>
                        <td>{{ p.monto }}</td>
                        <td>{{ p.tipo_prestamo }}</td>
                        <td>{{ p.aprobado }}</td>
                    </tr>
            {% endfor %}
        </table>



        {% if bandera %}

            <br/>
            <h3>DETALLE DE PRESTAMO</h3>
            <br/>
            <a class="button" href="{% url 'cliente_prestamo_auto1' %}">PAGO AUTOMATICO</a>
            <p></p>
            <br/>
            <table class="tabla">
            <tr>
                <th><strong>MONTO</strong></th>
                <th><strong>INTERES</strong></th>
                <th><strong>TIPO DE PAGO</strong></th>
                <th><strong>NUMERO DE CUENTA</strong></th>
                <th><strong>FECHA</strong></th>
            </tr>
            {% for pp in pagos_prestamo %}
                    <tr>
                        <td>{{ pp.monto }}</td>
                        <td>{{ pp.interes }}</td>
                        <td>{{ pp.tipo_pago }}</td>
                        <td>{{ pp.id_cuenta.id_cuenta }}</td>
                        <td>{{ pp.fecha }}</td>
                    </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    
{% endblock %}