{% extends 'cliente/base.html' %}
{% block content %}
    
    {% comment 'Session' %}
        <p>{{ request.session.user }}</p>
    {% endcomment %}

    <div class="formulario">

        <h4>CODIGO DE USUARIO: {{ user.id_usuario }}</h4>
        <h4>NOMBRE DE USUARIO: {{ user.nombre }}</h4>
        <h4>INTETOS FALLIDOS PARA ENTRAR A LA CUENTA: {{ user.intentos }}</h4>
        {% if user.cui == null  %}
            <h4>TIPO DE USUARIO: EMPRESARIAL</h4>
        {% elif user.id_empresa == null %}
            <h4>TIPO DE USUARIO: CLIENTE INDIVIDUAL</h4>
        {% endif %}
        <p></p>
        <br/>

        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">VER ESTADO DE CUENTA</button>
        </form>
        <p></p>

        <h2>{{ titulo }}</h2>
        <p></p>
        <br/>

        <a class="button" href="{% url 'cliente_deposito' %}">DEPOSITAR</a>
        <a class="button" href="{% url 'activar_cuenta' %}">ACTIVAR CUENTA</a>
        <a class="button" href="{% url 'suspender_cuenta' %}">SUSPENDER CUENTA</a>
        <a class="button" href="{% url 'trasnferencias_propias' %}">TRANSACCIONES ENTRE CUENTAS PROPIAS</a>
        <a class="button" href="{% url 'trasnferencias_terceros' %}">DEPOSITAR ENTRE CUENTES DE TERCEROS</a>
        <a class="button" href="{% url 'cliente_detalle_tarjeta' %}">DETALLE TARJETA</a>
        <p></p>
        <br/>

        <table class="tabla">
            <tr>
                <th><strong>NO. CUENTA</strong></th>
                <th><strong>MONTO</strong></th>
                <th><strong>TIPO DE CUENTA</strong></th>
                <th><strong>MONEDA QUE MANEJA</strong></th>
                <th><strong>ESTADO</strong></th>
            </tr>
            {% for cuenta in cuentas %}
                <tr>
                    <td>{{ cuenta.id_cuenta }}</td>
                    {% if cuenta.tipo_moneda == 'QUETZAL' %}
                        <td>Q {{ cuenta.monto }}</td>
                    {% elif cuenta.tipo_moneda == 'DOLLAR' %}
                        <td>$ {{ cuenta.monto }}</td>
                    {% endif %}
                    <td>{{ cuenta.tipo_cuenta }}</td>
                    <td>{{ cuenta.tipo_moneda }}</td>
                    <td>{{ cuenta.estado }}</td>
                </tr>
            {% endfor %}
        </table>

        <p></p>
        <br/>
        <h2>PRESTAMOS</h2>
        <p></p>
        <br/>

        <table class="tabla">
            <tr>
                <th><strong>NO. PRESTAMO</strong></th>
                <th><strong>MONTO A PAGAR</strong></th>
                <th><strong>TIPO DE PRESTAMO</strong></th>
                <th><strong>APROBADO</strong></th>
            </tr>
            {% for p in prestamos %}
                    <tr>
                        <td>{{ p.id_prestamo }}</td>
                        <td>{{ p.monto }}</td>
                        <td>{{ p.tipo_prestamo }}</td>
                        <td>{{ p.aprobado }}</td>
                    </tr>
            {% endfor %}
        </table>
        <p></p>
        <br/>
        <p></p>
        <br/>
    </div>
{% endblock %}